.float-right {
	float: right !important;
}

.display_flex {
	display: flex;
}

#contents-area {
	padding: 20px 0px 0px 20px;
}

.float_left {
	float: left !important;
}

.display_block {
	display: block;
}

#content-left {
	float: left;
	padding: 5px;
}

.div_line {
	margin-top: 10px;
	float: left;
	clear: both;
	width: 100%;
}

.toggle_div {
	background-color: #F2F2F2;
	margin-top: 10px;
	border-radius: 5px;
	float: left;
	padding: 10px 20px 10px 10px;
}

.expand_symbol {
	display: inline-block;
	float: right;
	line-height: 37px;
}

hr {
	clear: both;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 37px;
}
.pl-15{
	padding-left: 15px;
}