@CHARSET "UTF-8";

#left-content {
    /*width: 386px;*/
    float: left;
    margin: -15px 10px 0px -15px;
}

#left-content-top {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 45px;
}

.caret-background.caret-bottom:after {
    left: 160px !important;
}

#left-content-bottom {
    width: 84%;
    border-radius: 5px;
}

#right-content {
    width: 572px;
    float: left;
}

.td-detail {
    padding-top: 10px;
    padding-bottom: 10px;
}

#contents-area {
    overflow-y: unset;
}

.input-row {
    display: flex;
    margin-bottom: 30px;
}

.label-group {
    width: 125px;
}

#grid2_container {
    margin-top: 10px !important;
}

#wkp-component {
    margin-bottom: 15px;
}

#date-picker-label {
    margin-top: -20px;
    margin-bottom: 5px;
}

.date-picker-span {
    width: 125px;
    display: inline-block;
}

#employee-selection {
    display: flex;
    height: 30px;
}

.ui-widget-header {
    text-align: left !important;

}

.label-group-1 {
    margin-top: -3px;
    margin-bottom: 9px;
}

.panel-row {
    border-bottom: 1px solid #b1b1b1;
    display: flex;
    min-height: 36px;
    margin-top: -5px
;
}

.a_3 {
    margin-top: 5px;
    height: 30px;
    display: flex;
}
.cmm-051{
    padding-left: 20px;
}
.date-list{
    margin-top: 20px;
}
.wp-code {
    width: 145px;
    margin-left: 10px;
    margin-top: 5px;
}
.divlabel{
    display: flex;
    justify-content: center;
}
#wpl_code {
    max-width: 85px;
    width: fit-content;
    margin-right: 15px;
}
.divlabel2{
    display: flex;
    justify-content: center;
}
#wpa3-code {
    max-width: 100px;
    width: fit-content;
    margin-right: 15px;
}
.wp-name{
    width: 410px;
    margin-top: 5px;
}
.a_6{
    width: 600px;
    margin-top: 5px;
    height: 45px;
    display: flex;
}

.a_10{
    width: 600px;
    margin-top: 5px;
    height: 45px;
    display: flex;
}
.a10{
    margin-top: 5px;
    height: 45px;
    display: flex;
}
.a_62{
    margin-left: 30px;
    width: 95px;
}
.wkp_list{
    margin: 20px
}
.code{
    margin-bottom: -10px;
}
.name{
    margin-bottom: -10px;
}
.switchbox-wrappers.radio-wrappers label:not(:first-child) input+span {
    margin-left: -3px !important;
}
.cmm_051{
    margin-left: 5px;
}
#a8_2{
    margin-left: 16px;
}
#a3_2{
    margin-left: 27px;
}
.history-button{
    margin-bottom: 5px;
}
#wpcode{
    max-width: 90px;
    width: fit-content;
    margin-right: 15px;
}
#empCode{
    max-width: 100px;
    width: fit-content;
    margin-right: 15px;
}
#empName{
    width: 330px;
}
#wplName{
    width: 150px;
}
#idtext .text{
    width: 45px;
}
#a10_2{
    min-width: 75px;
}
#idtext2 .text{
    width: 55px;
}
#a6_2{
    min-width: 75px;
    width: 75px;
    margin-left: 21px;
}
