.cmms45b {
    margin-top: -15px;

    .accordion-mn3,
    .list-group-selection {
        margin-left: -15px;
        margin-right: -15px;
    }

    .appr {
        position: sticky;
        position: -webkit-sticky;
        bottom: .5em;
        text-align: center;
        margin-top: .5em;
        width: 100%;
    }
    .to-top {
        z-index: 1100;
    }
    .p_dropdown {
        padding-right: 12px;
    }
}