#left-content {
	padding: 0px 5px 10px 12px;
	float: left;
}

#text_list {
	padding-left: 4px;
}

#right-content {
	padding: 25px 0 0 25px;
	float: left;
	width: calc(100% - 550px);
}

#right-content .form-label {
	width: 160px;
}

#right-content .nts-switch-button {
	width: 70px;
}
#right-content .radio-wrapper {
	width: 70px;
	flex-direction: column;
	text-align: center;
}