.textSize {
    font-size: 0.8em;
}
.textPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerDiv {
    height: 2.3em
}
.paddingSpan {
    padding-top:0.3em; 
    padding-bottom:0.3em
}