#ignore project build folders
build/
bin/

#ignore node_modules
**/node_modules*

#ignore gradle cache folder
**/.gradle*
**/.nb-gradle*
**/.settings*
**/.ide*
**/.sts4-cache*
!build.gradle

#ignore spotlight cache
**/.DS_Store

#ignore sass-cache folder
**/.sass-cache*

#ignore all gradle project files
*.class


#ignore all js, map file
**/*.map*

!binary/