@CHARSET "UTF-8";
#contents-area {
	height: calc(100vh - 145px);
	white-space: nowrap;
}

#link-icon {
	width: 30px;
	vertical-align: middle;
}

#A1-5 {
	margin-top: 3px;
}

#A1-6 {
	margin-left: 2px;
	vertical-align: middle;
}

.sidebar-content-header button {
	width: 90px;
}
.sidebar-content-header {
	white-space: nowrap;
}

#A1-4 {
	margin: 0 20px 0 50px;
}

#A1-6 {
	margin-left: 420px;
}

#A2-1 {
	margin: 25px 60px 0px 50px;
}

#A2-3 {
	margin-left: 30px;
	width: 90px;
}

#A2-4 {
	margin: 15px 0 0 50px !important;
}

.nts-switch-button {
	width: 90px
}

.ui-igcombo-button {
	background-color: white;
	border: none !important;
}

.table1 th.tbl-th {
	border: 1px solid #999999;
	background-color: #CFF1A5;
	height: 25px;
	font-weight: bold;
	font-size: 15px !important;
}

.table1 td.tbl-td {
	border: 1px solid #999999;
	border-top: 0px
}

.table1 thead tr, .table1 tbody {
	display: block;
}

.table1 tbody {
	height: 495px;
	width: fit-content !important;
	overflow-y: auto;
	overflow-x: hidden;
}

.table1 td {
	overflow-x: hidden;
}

/* for IE browser */
*::-ms-backdrop, .table1 tbody {
	height: 330px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* for EDGE browser */
@
supports (-ms-ime-align:auto ) { .table1 tbody {
	height: 495px;
	overflow-y: auto;
	overflow-x: hidden;
}

}


#A2-4 > table > thead > tr > th:nth-child(1){
	width: 40px;
	padding-left: 10px;
}

#A2-4 > table > tbody > tr > td:nth-child(1){
	width: 40px;
	max-width: 40px;
}

#A2-4 > table > thead > tr > th:nth-child(2){
	width: 195px;
	padding-left: 10px;
}

#A2-4 > table > tbody > tr > td:nth-child(2){
	width: 195px;
	max-width: 195px;
}

#A2-4 > table > thead > tr > th:nth-child(3){
	width: 202px;
	padding-left: 10px;
}

#A2-4 > table > tbody > tr > td:nth-child(3){
	width: 195px;
	max-width: 230px;
}

#A2-4 > table > thead > tr > th:nth-child(4){
	width: 92px;
	padding-left: 10px;
}

#A2-4 > table > tbody > tr > td:nth-child(4){
	width: 92px;
	max-width: 230px;
}

#A2-4 > table > thead > tr > th:nth-child(5){
	width: 195px;
	padding-left: 10px;
}

#A2-4 > table > tbody > tr > td:nth-child(5){
	width: 195px;
	max-width: 195px;
}
/*
#A2-4 > table > tbody tr td:nth-child(1){
	width: 100px;
}

.table1 thead tr th:nth-child(2), .table1 tbody tr td:nth-child(2) {
	width: 200px
}

.table1 thead tr th, .table1 tbody tr td:nth-child(3), .table1 tbody tr td:nth-child(4)
	{
	width: 230px
}

.table1 thead tr th:nth-child(5), .table1 tbody tr td:nth-child(5) {
	width: 200px
} */

.ui-igcombo-wrapper {
	height: 27px;
	padding-top: 2px;
	padding-left: 2px;
}

/* .width-tbody {
	width: 638px;
} */
.isFocus {
	background-color: red;
}
#grid2 .ui-igcombo-wrapper {
	width: 100%;
	min-width: 100% !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
	height: 25px !important;
}
.ui-igcombo-list {
	max-height: 130px !important;
}
