#kafs12-a1 {
    .topError {
        background-color: #f8d7da !important;
        margin-bottom: 5px;
        button {
            text-align: left;
            border-radius: 3px !important;
        }
    }
}

.kafs00p1 {
    .position-absolute {
        top: 5px;
        right: 20px;
    }
}

.fa-plus-circle {
    color: #33b5e5;
}

.position-relative {
    .control-label {
        border-left: none;
        color: #666666;
        font-size: 0.9em;
    }
}

//.outing-zone {
//    .form-group {
//        .control-label-block {
//            display: none;
//        }
//    }
//}
