.dialog-title {
	margin-top: 10px;
}

.div-table {
	display: table;
	width: 620px;
	border: 0, background-color: #eee;
	border-spacing: 5px;
	margin-left: 20px;
	margin-top: 15px;
}

.div-table-row {
	display: table-row;
}

.div-table-row-small {
	display: table-row;
	height: 20px;
}

.div-table-col-small {
	float: left;
	display: table-column;
	width: 80px;
}

.div-table-col-standard {
	float: left;
	display: table-column;
	width: 120px;
}

.div-table-col-big {
	float: left;
	display: table-column;
	width: 230px;
}

.div-table-col-big-big {
	float: left;
	display: table-column;
	width: 360px;
}

.div-table-col-medium {
	float: left;
	display: table-column;
	width: 130px;
}

.radio-group {
	margin-top: 15px;
}

.vertical-align-center {
	display: inline;
}

.label-vertical-align-center {
	display: inline;
	position: relative;
	top: -10px;
}

.cell-label {
	display: inline;
}

.custom-margin-top {
	margin-top: -6px;
}

.custom-margin-row-small {
	margin-top: -7px;
}

.ntsRadioBox {
	margin-bottom: 7px;
}
.label-big {
	font-size: 1.4rem;
}