#left-content {
	margin-left: 20px;
	margin-top: 12px;
	padding: 20px 5px 10px 20px;
	float: left;
	width: 380px;
	height: 400px;
}

#right-content {
	margin-left: 50px;
	float: left;
	width: 600px;
	margin-top: 32px;
}

.right-layout td {
	border: solid #fff;
	border-width: 0 10px 10px 0;
}

.input-size {
	width: 40px;
}

.container {
	width: 1100px;
}

.no-wrap {
	white-space: nowrap;
}

#flow-menu-list .icon-dot {
	margin-top: 3px;
}

.ntsControl {
	display: inline;
}

#file_upload {
	width: 345px;
	overflow: hidden;
}

.form-label>i {
	white-space: nowrap;
}

.container {
	width: 1125px;
}

#contents-area {
	overflow: hidden
}
;