.kafs12a2 {
    .control-label{
        border-left: none;
    }
}
.col1 {
    background: #6cc0e566;
    border-radius: .5rem;
}
.col2 {
    background-color: #6cc0e566;
    border-radius: .5rem;
}
.numberOfHoursLeft {
    color: #29339b;
    right: 0;
    top: 10px;
}
.numberOfHoursLeft2 {
    color:  #29339b;
    right: 0;
    top: -12px;
}