.kafs04a {
    .control-label{
        border-left: 0;
    }
}
.topError {
    background-color: #f8d7da !important;
    margin-bottom: 5px;
    button {
        text-align: left;
        border-radius: 3px !important;
    }
}

.position-absolute.right.ab1 {
    right: 0;
    top: 80px
}
.position-absolute.right.ab2 {
    right: 0;
    top: 10px
}
.position-absolute.right.ab3 {
    right: 0;
    top: 80px
}
.position-absolute.right.ab4 {
    right: 0;
    top: 10px
}