.div-line {
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
}
.column-label {
  width: 150px;
}
.column-value {
  width: 120px;
}
.radio-wrapper .ntsRadioBox {
  margin: 3px 0px;
}
.div-line:last-child {
  margin-bottom: 0px !important;
}
#G4_3 {
  width: 140px;
}