.nts-dropdown-list {
    select {
        border: solid 1px #555;
        -webkit-appearance: none;
        appearance: none;
        box-sizing: border-box;
        padding: 3px 50px 3px 10px;
    }
}