.list{
	margin: 15px 0 0 15px;
}
.listIP{
	margin-top: 25px;
}
.details{
	margin: 25px 0 0 35px;
  width: 600px;
}
.ipAddress{
	margin: 23px 0;
}
.ipAddress>.form-label{
    margin-right: 18px;
}
.ipAddress input{
    width: 25px;
}
.label {
  margin-bottom: 15px;
}