#titleMenuCD {
	display: inline;
	margin: 0px 30px 0px 140px;
}

#textname {
	display: inline;
}

#copycode {
	display: inline;
	margin-left: 30px;
}

#copyname {
	display: inline;
}

.row1 {
	margin: 30px 0px 20px 30px;
}

.row2 {
	margin-left: 30px;
}

#functions-area-bottom {
	height: 120px;
}

.container {
	width: 750px;
}

#checkOverwritting {
	background-color: #F7EFD4;
	padding: 10px 25px;
	margin-bottom: 10px;
}