#content {
	width: 1270px;
}

#contents-area-right {
	width: 360px;
	float: left;
	clear: right;
	margin-left: 10px;
}

#contents-area-left {
	width: 900px;
	float: left;
	clear: right;
	padding-left: 50px;
}

.margin-right-FormLabel {
	width: 140px !important;
}

.control-group-margin-custom button.nts-switch-button {
	min-width: 100px !important;
}

.control-group-margin-custom {
	margin-bottom: 15px !important;
	display: flex;
}

#item-info-list_container {
	border: 1px solid #999999 !important;
	overflow: hidden !important;
}

#item-setting-button {
	margin-bottom: 10px;
}

.ntsHelpButton {
	margin-left: 15px !important;
}

#category-list-items_container {
	height: 377px !important;
}

.custom-btn span {
	width: 98px !important;
	text-align: center;
}


.custom-img-1 .nts-help-button-image img {
	width: 340px;
	height: 400px;
}

.custom-img-2 .nts-help-button-image img {
	width: 420px;
}