
#export-button {
  margin-left: auto;
}

.form-label {
  width: 250px;
}


#contents-area .domain .uploadCsv {
  margin-left: 25px;
  /* max-width: 1000px; */
}

#importDomain{
 width:250px;
 position: relative;
 top: 5px;
 margin-top: -5px;
}

.import-mode{
 display:none;
}

#settingName{
 width:300px;
}

#itemNameRow{
 width:27px;
}

#importStartRow{
 width:27px;
}

#bntAddImportDomain #bntDelImportDomain{
 top: -5px;
}

.cell-left {
  width: 100px;
}
.table .cell-left {
  width: 120px;
  padding-left: 15px;
}

.table .domain .cell-left {
  width: 180px;
}
.sidebar-content {
  height: 100%;
}

.table .cell-left .form-label {
  line-height: 37px;
}
.table.mb-5 {
  margin-bottom: 15px;
}
.table .cell-left .form-label.normal {
  line-height: normal;
}

.table .divi {
  margin-top: 20px;
}

span.limited-label {
  border: solid 1px #999;
  border-radius: 4px;
  width: 250px;
  padding: 6px 10px;
  margin-left: 5px;
}