.btn {
    font-size: 0.9rem;
    font-weight: unset;
    text-transform: unset;
    padding: 0.282rem 0.5rem;
    border-width: 1px 1px 4px 1px;
    &-lg {
        font-size: 1rem;
        padding: 0.4rem 1rem;
    }
    &-sm {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }
    &-secondary {
        border-color: darken($secondary, 20%);
        &.focus,
        &:focus {
            box-shadow: $input-focus-box-shadow;
            border-color: $input-focus-border-color;
        }
    }
    &-outline-secondary {
        color: lighten($black, 5%);
        border-color: darken($secondary, 20%);
    }
    &-danger {
        border-color: darken($danger, 25%);
    }
    &-warning {
        border-color: darken($warning, 10%);
    }
    &-group-vertical {
        .btn:not(:first-child) {
            border-top-width: 0px;
        }
    }
    &-block {
        display: inline-block;
    }
    &-selection {
        width: 100%;
        cursor: pointer;
        text-align: left;
        position: relative;
        &:after {
            content: "\f054";
            font-weight: 600;
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: calc(50% - 10px);
            right: 15px;
        }
        .badge {
            top: 0;
            font-size: 100%;
            font-weight: 600;
        }
    }
    &.btn-selection {
        &.border {
            &:focus,
            &:hover,
            &:active {
                margin-top: 0px;
            }
        }
    }
    &-no-content {
        &:after {
            content: none;
        }
    }
}

