.input-group {
  &-transparent {
    &:not(.input-group-search) {
      background-color: #fff;
    }
    &.input-group-search {
      .input-group-append {
        z-index: 99;
      }
      &.text-white {
        .fa,
        .form-control {
          color: #fff;
        }
      }
    }
    .input-group-prepend,
    .input-group-append {
      position: absolute;
      border-color: transparent;
      background-color: transparent;
      z-index: 0;

      .input-group-text {
        border-color: transparent;
        background-color: transparent;
        &.fa {
          font-weight: 600;
        }
      }

      & + .form-control {
        border-radius: 0.25rem;
        background-color: transparent;

        &:disabled {
          background-color: rgba(240, 240, 240, 0.75);
        }
      }
    }

    .input-group-prepend {
      left: 0;

      & ~ .form-control {
        padding-left: 32px;
      }
    }

    .input-group-append {
      right: 0;

      & ~ .form-control {
        padding-right: 32px;
      }
    }
  }

  &.input-group-time {
    .input-group-prepend {
      &+.form-control {
        border-left-color: transparent;
      }
      .input-group-text {
        border-right: 0;
      }
    }
    .input-group-append {
      .input-group-text {
        border-left: 0;
      }
    }
    .form-control {
      padding: 0;
      &:not(:last-child) {
        border-right-color: transparent;
      }
      .row {
        line-height: 33px;
        [class^=col-] {
          font-size: 0.8rem;
        }
      }
      &.is-invalid {
        background-image: none;
      }
    }
    .input-group-text {
      background-color: transparent;
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
      &.fa {
        font-weight: 600;
      }
      &.is-invalid {
        border-color: $form-feedback-invalid-color;
      }
    }  
  }

  &.input-group-transparent {
    .form-control {
      border-radius: 0.25rem;
    }
  }

  .form-check {
    label,
    .form-check {
      &-label {
        width: 0px;
        line-height: 1.5;
      }

      &-input {
        width: 18px;
        margin-top: -3px;
      }
    }
  }

  .btn {
    &.btn-secondary {
      border-color: $input-border-color;

      &.focus,
      &:focus {
        box-shadow: $input-focus-box-shadow;
        border-color: $input-focus-border-color;
      }
    }
  }
}

.form-group {
  &.is-invalid {
    +.invalid-feedback {
      display: block;
    }
  }
  &-range {
    >.col-6:last-child {
      .form-group {
        &:first-child {
          &:before {
            content: '～';
            display: block;
            position: absolute;
            top: 7px;
            left: -7px;
          }
        }
      }
    }
  }
}

.time-picker {
  .form-control {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
  }
}


.was-validated 
.form-control:invalid, 
.form-control.is-invalid {
  background-image: none;
}