.fixed-flex-layout-left {
	width: 340px;
	min-width: 340px;
	height: 328px;
}

.fixed-flex-layout-right {
	width: calc(100% - 340px - 20px);
	min-width: 530px;
}

#single-list > tbody > tr > td:first-child {
	text-align: center;
}

#single-list .icon-dot {
	vertical-align: middle;
	font-size: 0px;
}

#A_LST_001 {
	height: 550px;
	margin: 16px 0px 0px 40px;
}

#A_BTN_001 {
	margin-left: 10px;
}

#A_BTN_003 {
	width: 80px;
	margin-left: 70px;
}

#A_BTN_004 {
	width: 80px;
}

#A_LBL_002,
#A_LBL_003,
#A_LBL_005,
#A_LBL_006,
#A_LBL_010 {
	margin: 0px 0px 20px 40px;
}

#A_LBL_009,
#A_LBL_011 {
	margin: 0px 0px 20px 93px;
}

#A_LBL_006 {
	margin: 13px 0px 20px 40px;
}

#A_INP_002,
#A_INP_003,
#A_INP_004,
#A_INP_005,
#A_INP_006 {
	border-radius: 5px;
}

.ntsSearchBox {
	width: 350px;
}

button.search-btn {
	width: 80px;
}

.bg-yellow {
	width: 200px;
	height: 28px;
	display: inline;
	margin-left: 30px;
	padding: 7px 7px 9px 0px;
}

.control-group {
	margin-bottom: 15px;
}

#menu_container {
	width: 100%;
	/* width: calc(100% - 300px); */
	height: calc(100% - 90px);
	min-height: 260px;
	padding: 10px;
	overflow: auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

#menubar-tabs {
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 100%;
	height: 99%;
	white-space: nowrap;
}

#menubar-tabs .menubar-placeholder {
	float: none;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	border: 1px dashed #666;
	margin-right: 10px;
	box-sizing: border-box;
}

#menubar-tabs .menubar-header {
	display: flex;
	flex-direction: row;
}

#menubar-tabs .menubar-navigation {
	line-height: 1;
	padding: 0px;
	vertical-align: top;
	background: transparent;
	border: none;
}

#menubar-tabs .menubar-navigation li.context-menu-bar {
	float: none;
	display: inline-block;
	border-radius: 0px;
	margin: 0 10px 0 0;
	padding: 0;
	margin-bottom: -2px;
	border-width: 1px;
	height: 60px;
	background-color: transparent;
	border-color: #fff;
	border-bottom-width: 0px;
}

#menubar-tabs .menubar-navigation li.ui-tabs-active {
	background-color: #e2efda;
	border-color: #b1b1b1;
}

#menubar-tabs .menubar-container {
	flex: 1;
	box-sizing: border-box;
	overflow: auto;
	border-radius: 0px;
	border: 1px solid #b1b1b1;
	background-color: #e2efda;
	padding: 5px;
}

#menubar-tabs .menubar-container .title-menu .titlemenu-placeholder {
	display: inline-block;
	height: 58px;
	width: 134px;
	border: 1px dashed #666;
	margin: 0 3px;
	margin-right: 25px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	z-index: 1;
}

#menubar-tabs .menubar-container .title-menu .title-menu-container {
	display: block;
}

#menubar-tabs .title-menu .title-menu-column .tree-menu {
	width: 100%;
}

#menubar-tabs .title-menu .title-menu-column .tree-menu li {
	padding: 10px 3px;
	height: 40px;
	width: 100%;
	float: left;
	margin-top: -1px;
	background-color: #e2efda;
	border: 1px solid #80a468;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

#menubar-tabs .title-menu .title-menu-column .tree-menu .treemenu-placeholder {
	height: 40px;
	width: 100%;
	border: 1px dashed #666;
	box-sizing: border-box;
	z-index: 1;
}

#menubar-tabs .title-menu .title-menu-column .button-add-treemenu {
	margin: 4px 0px;
	border-radius: 5px;
	height: 50px;
	width: 134px;
}

#menubar-tabs ul li a i {
	cursor: pointer;
}

.unsortable {
	display: inline-block;
	vertical-align: top;
}

.label.warning {
	padding: 5px 10px !important;
	margin-bottom: 10px !important;
	color: black !important;
}

.icon_link {
	width: 30px;
	vertical-align: middle;
}

.caret-bottom:after,
.caret-top:after,
.caret-left:after {
	margin-bottom: 5px !important;
	margin-left: 40px !important;
}

.caret-bottom:after {
	border-right: 2em solid transparent !important;
	border-left: 2em solid transparent !important;
	color: rgb(217, 217, 217) !important;
}

#contents-area:after {
	content: "";
	display: block;
	clear: both;
}

div.label {
	width: 95% !important;
}

#add-icon-treemenu {
	width: 12px;
	margin-left: -8px;
	margin-right: 3px;
}

#add-icon {
	width: 12px;
	margin-right: -2px;
}

#menubar-tabs .menubar-navigation li.context-menu-bar a {
	width: 100px;
	height: 40px;
	box-sizing: border-box;
}

/* Menu tab */
#menubar-tabs .tab-item {
	padding: 10px 4px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#menubar-tabs .tab-item .tab-item-content {
	flex: 1;
	overflow: hidden;
	text-overflow: clip !important;
	/* margin-right: 10px; */
}

/* Menu item */
#menubar-tabs .title-menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

#menubar-tabs .title-menu .title-menu-name {
	padding: 10px 4px;
	border-radius: 10px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.title-menu-name .img-icon {
	position: absolute;
	right: 5px;
	cursor: pointer;
}
#menubar-tabs .title-menu .title-menu-name .title-menu-content {
	flex: 1;
	overflow: hidden;
	max-width: 105px;
	/* text-overflow: ellipsis; */
	/* margin-right: 10px; */
}

#menubar-tabs .title-menu .title-menu-column {
	display: inline-block;
	padding: 0;
	width: 140px;
	margin-right: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	vertical-align: top;
}

.button-add {
	border-radius: 5px;
	margin: 0;
	height: 40px;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#menubar-tabs .title-menu .title-menu-column .tree-menu li {
	padding: 6px 3px;
	height: 30px;
	width: 100%;
	float: left;
	background-color: #e2efda;
	border: 1px solid #80a468;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: -1px;
}

.context-menu-tree {
	overflow: hidden;
	text-overflow: ellipsis;
}

.menubar-header>ul>li {
	text-align: center;
}
