{
  "pathToChromeDriver" : "C:\\biz\\Work\\Dev\\Lab\\Tool\\Selenium\\Drivers\\chromedriver_win32\\chromedriver.exe",
  "pathToIEDriver" : "C:\\biz\\Work\\Dev\\Lab\\Tool\\Selenium\\Drivers\\IEDriverServer_x64_3.5.1\\IEDriverServer.exe",
  "browsersToTest" : [ "Chrome" ],
  "urlToTestSite" : "http://localhost:8080/"
}