.panelFirst {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0px rgb(192, 192, 192);
    display: inline-table;
    background-color: white;
    margin-top:5px;
    margin-left:20px;
    width:320px !important;
    height:400px !important;
    text-align: center;
    border-color: rgb(192, 192, 192)
}
.btnInPanel {
	width: 200px; 
	margin: 12px
}
.panelFirstJinji{
	 border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0px rgb(192, 192, 192);
    display: inline-table;
    background-color: white;
    margin-top:5px;
    margin-left:20px;
    width:320px !important;
    height:250px !important;
    text-align: center;
    border-color: rgb(192, 192, 192)
}
.panelSecond {
	border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 0px rgb(192, 192, 192);
	display: inline-table; 
	background-color: white; 
	margin-top: 20px; 
	margin-left: 60px; 
	width: 320px !important; 
	height: 250px !important;
	text-align: center;
	border-color: rgb(192, 192, 192);
	position: absolute;
    top: 10px;
    left: 415px;
}
button.caret-right:after {
    color: #92D050;
    margin-left: 3px;
}
.textTitlePanel {
	font-weight: 600;
    font-size: 25px;
    text-align: left;
}
.textFormatSystem1{
	text-align: left;
    line-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: pre-line;
}
.textFormat {
	text-align: left;
    padding-top: 5px;
    line-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: pre-line
}

.textFormat2 {
	text-align: left;
    padding-top: 20px;
    line-height: 25px;
    margin-right: 10px;	
    margin-left: 10px;
    white-space: pre-line
}
button:focus.caret-right:after {
	color: #97D155;	
}