/* Common Elements */
html, body {background-color:#f5f5f5;}
a,a.link{color:#00B050;text-decoration: none;}
a.link:hover{text-decoration:underline;}
b{font-weight:bold;}
i{font-style: italic;}
h1{color:#00B050;font-size: 25px; margin:15px 0;}
h2{color:#00B050;font-size: 22px; margin:15px 0 7px;}
h3{font-size:15px;margin:5px 0;font-weight:bold;}
h4{font-size:13px;margin:3px 0;font-weight:bold;}
hr{margin: 20px 0;}
pre {box-sizing:border-box;background:#f5f5f5;max-width:100%;padding:5px !important;margin:10px 0;border:none !important;overflow:auto;border-radius:5px;}
pre {tab-size: 2;}
pre * {font-family: Consolas;}

note{position:relative;display:block;background:#ffc;box-shadow:1px 2px 3px 0px rgba(0,0,0,0.3);padding:20px;margin:20px 5px;}
note:before{position:absolute;display:block;content:'';width:50px;height:15px;left:15px;top:-8px;background:rgba(255,255,255,0.35);box-shadow:0 0 2px 1px rgba(0,0,0,0.2), 0 0 1px 1px rgba(255,255,255,0.7) inset;transform: rotate(-8deg);}

/* Common Classes */
.color {color:#00B050 !important;}
.pull-left {float:left;}
.pull-right {float:right;}
.table {width: 100%;border-collapse: collapse;}
.table th, .table td{padding: 5px 5px;border:1px solid #ccc;}
.table th {background-color: #f5f5f5;}
.table td:first-child {font-weight:bold; vertical-align:top;}
.catalog-accordion .ui-accordion-header {font-size: 1rem;font-weight:bold;padding:0px;margin-top:5px;border:none;color:#00B050;}

/* Area */
#functions-area {background:#fff;}
#contents-area {background:#fff;margin:0 auto;}

/* Menu */
#search-menu {margin: 10px 0px 0px 10px; width:190px; box-sizing: border-box; padding: 5px 10px; border-radius: 20px; border:1px solid #bbb; outline:none;}
.collapse-button {cursor:pointer;background-color:#fff;border:1px solid #666;border-radius:3px;}
#side-menu {float:left;width:250px;background:#f5f5f5;padding-bottom:15px;overflow:hidden;box-sizing:border-box;box-shadow:-1px 0 2px 0 rgba(0,0,0,0.25) inset;}
#side-menu h1{background:#fff;color:#000;border:1px solid #e0e0e0;border-left:5px solid #97D155;padding:6px 8px 6px 16px;margin:10px 0 5px;font-size:14px;font-weight:bold;text-transform:uppercase;cursor:pointer;box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);}
#side-menu ul{}
#side-menu ul ul{margin-left: 17px;}
#side-menu a{position:relative;display:block;color:#444;font-size:0.9rem;text-decoration:none;line-height:24px;padding-left:15px;}
#side-menu a:before{content:'\203A';padding-right:10px;font-weight:bold;}
#side-menu a:hover{background-color:#e0e0e0;}
#side-menu a.active{font-weight:bold;background:#fff;color:#00B050;box-shadow: 0 0 5px 1px rgba(0,0,0,0.15);z-index:1;}
#side-menu .label{float:right;display:block;height:100%;margin-right:5px;color:#fff;font-size:10px;font-weight:bold;}
#side-menu .label:before{display:inline-block;height:16px;line-height:16px;padding:0 5px;border-radius:5px;box-sizing:border-box;}
#side-menu .label-new:before{background:#5cb85c;content:'New';}
#side-menu .label-update:before{background:#5bc0de;content:'Update';}
#side-menu .label-error:before{background:#d9534f;content:'Error';}

/* Content */
#content{
	float: left;
    width: calc(100% - 250px);
	background:#fff;
	padding:10px 10px;
	box-sizing:border-box;
}
#content .tabs{margin:25px 0;}
#content .footer{margin-top:35px;}
#content .footer button.previous{float: left;}
#content .footer button.next{float: right;}

/*** Component ***/
.feature-box {display:inline-block;width:calc(100% - 30px);border:1px solid #bbb;border-radius: 5px;overflow:hidden;margin:5px 15px;box-sizing:border-box;transition:box-shadow 0.2s;}
.feature-box:hover {box-shadow:0 1px 5px 1px rgba(0,0,0,0.25);}
.feature-box > .header { font-size: 15px; font-weight: bold; background:linear-gradient(to bottom, #fafafa, #cccccc 100%);padding:7px 10px;}
.feature-box > .header > * {margin:0;}
.feature-box > .content {padding:10px;}

/*** Overwrite ***/
.ui-widget, .ui-widget button{font-family: "Meiryo UI";}

/*** Animation ***/
.flash {
	animation: flash 1.1s ease-out;
	animation-iteration-count: 1;
}
@keyframes flash {
    0% { background-color: none;}
    50% { background-color: #ffb;}
    100% { background-color: none;}
}

table.matrix {
	border: solid 1px #000;
	border-collapse: collapse;
}
table.matrix th,td {
	border: solid 1px #000;
	padding: 5px;
}

.important h3 {
	position: relative;
}
.important h3:after{
	background: greenyellow;
	content:'Important';
	position: absolute;
	top: -13px;
	left: 64px;
	border-radius: 20px;
	padding: 5px 15px;
	color: red;
}
.important h3:before{
	border-right: 2em solid greenyellow;
    border-top: 0.5em solid transparent;
    border-bottom: 1em solid transparent;
    content: '';
    position:absolute;
    top: -7px;
    left: 43px;
}
.important b {
	color: red;
	opacity: 0.8;
	text-decoration: underline;
}

/*** Theme ***/
/* Valentine */
/*html, body{background: #ffdddd url(valentine-bg.jpg) center center; background-size: 100% auto; background-attachment: fixed;}
#header {background-color:#feb0cd;color:#ff4e8f;}
#functions-area {background-color:#ffd8e7;border-bottom-color:#ff4e8f;}
#contents-area{background:transparent;border-color:#ff4e8f;box-shadow: 4px 4px 13px 3px rgba(0,0,0,0.1);}
#side-menu{background-color:#171d31;}
#side-menu h1{background:#2e395f;border-color:#2e395f;border-left-color:#ff4e8f;color:#ff8cb7;}
#side-menu a{color:#fafafa;}
#side-menu a:hover{background-color:rgba(255,255,255,0.1);}
#side-menu a.active{background-color: #fff;color: #c72661;}
#search-menu{border:none;color:#fff;background:rgba(255,255,255,0.15);}
#content{background: rgba(255, 255, 255, 1);}
.feature-box > .content{background:#fff;}*/
/* Hawaii */
/*html, body{background: #ede8d5 url(images/hawaii-bg.jpg) center top; background-size: 100% auto; background-attachment: fixed;}
#header {background-color:#fffbec; color:#197a32;}
#functions-area {background-color:#fdf4d4;border-bottom: 2px solid #c3d201;}
#contents-area{background:transparent;border-color:#ede8d5;box-shadow: 4px 4px 13px 3px rgba(0,0,0,0.1); width:90%; margin: 40px auto;}
#side-menu{position:relative; background:rgba(255,255,255,0.475); box-shadow:-1px 0 2px 0 rgba(255,255,255,0.15) inset;}
#side-menu h1{position:relative;background:#fffbec; background-size: auto 100%; border:none; padding-left:25px; color:#197a32;}
#side-menu h1:before{content:'';position:absolute;bottom:-2px;left:0;width:100%;background-color:#c3d201;height:2px;}
#side-menu h1:after{content:'';position:absolute;top:-5px;left:0;width:100%;height:35px;background:url(images/palm-tree-icon.png) 2px top no-repeat;background-size:auto 100%;}
#side-menu a{color:#000;}
#side-menu a:hover{background:linear-gradient(to right, rgba(255,255,255,0.45) 45%, rgba(255,255,255,0.15) 65%);}
#side-menu a.active{background:linear-gradient(to right, rgba(255,255,255,0.65) 45%, rgba(255,255,255,0.3) 65%);box-shadow:0 1px 1px 0px rgba(255,255,255,0.6) inset, 0 -1px 0px 0px rgba(0,0,0,0.075) inset;}
#search-menu{background:rgba(255,255,255,0.45);box-shadow:0 1px 0 0 rgba(255,255,255,0.6) inset, 0 -1px 0 0 rgba(0,0,0,0.075) inset; border:none; color:#fff;}
.collapse-button {background-color:#fdf4d4;border-radius:50%;border:1px solid #c3d201;}*/
/* Halloween */
/*html, body{background: #000 url(images/bg-halloween-7.jpg) center top no-repeat; background-size: 100% auto; background-attachment: scroll;}
#header {background:#5e3885 url(images/halloween-decoration.png) repeat-x; background-size: auto 90%; color:#197a32;}
#header .pumpkin {content:'';display:block;position:absolute;top:0;left:0;right:0;margin:auto;height:138px;width:138px;background:url(images/pumpkin.png) center top;background-size:100% 100%;z-index:3;}
#header .pumpkin.changed {background:url(images/pumpkin-2.png) center top;background-size:100% 100%;}
#master-content{}
#functions-area{background-color:#25153c;border-bottom: 2px solid #e55d00;}
#contents-area{background:transparent;border-color:#5e3885;box-shadow: 4px 4px 13px 3px rgba(0,0,0,0.45); width:85%; margin: 60px auto 20px;}
#side-menu{position:relative;background:rgba(255,255,255,0.475); box-shadow:-1px 0 2px 0 rgba(255,255,255,0.15) inset;}
#side-menu h1{position:relative;background:#5e3885 url(images/web-icon.png) right top no-repeat; background-size: auto 90%;; border:none; padding-left:30px; color:#fbef40;}
#side-menu h1:before{content:'';position:absolute;bottom:-2px;left:0;width:100%;background:#25153c url(images/dirt-sprite.png); background-size:auto 100%; height:4px;}
#side-menu h1:after{content:'';position:absolute;top:-3px;left:-5px;width:100%;height:35px;background:url(images/zombie-hand-icon.png) 2px top no-repeat;background-size:auto 100%;}
#side-menu a{color:#000;}
#side-menu a:hover{background:linear-gradient(to right, rgba(255,255,255,0.45) 45%, rgba(255,255,255,0.15) 65%);}
#side-menu a.active{color:#b00000;background:#fff url(images/bloody-hand-icon.png) left center no-repeat; background-size: auto 100%;box-shadow:0 1px 1px 0px rgba(255,255,255,0.6) inset, 0 -1px 0px 0px rgba(0,0,0,0.075) inset;}
#search-menu{background:rgba(255,255,255,0.45);box-shadow:0 1px 0 0 rgba(255,255,255,0.6) inset, 0 -1px 0 0 rgba(0,0,0,0.075) inset; border:none; color:#fff;}
.collapse-button {background-color:#fff;border-radius:50%;border:1px solid #b00000;}
#particles-js{position:absolute;bottom: 0;width: 100%;height: 100%;}
#side-menu .label-new:before{background:#b60000;content:'New';}
#side-menu .label-update:before{background:#5e3885;content:'Update';}*/