.cmms45a {
    margin-top: -15px;

    .accordion-mn3,
    .list-group-selection {
        margin-left: -15px;
        margin-right: -15px;
    }
    .p_dropdown {
        padding-right: 12px;
    }
}