.kdls36 {
}
.fa-exclamation-triangle{
    color: #FD4D4D;
}
.fa-calendar-check{
    color: #4f81bd;
}
.table td {
    vertical-align: unset;
}
.holidayWorkDate {
    font-size: 13px;
}
.remainingNumber {
    font-size: 13px;
    word-break: keep-all;
}
.expirationDate {
    font-size: 13px;
}

#A2_2, #A3_2, #A4_2 {
    padding-right: 0px;
    padding-left: 10px;
}
#A5_1,#A5_2,#A5_3,#A5_4,#A5_5 {
    word-break: keep-all;
}
.cb-bg-color .form-check-input {
    background-color: #E0E0E0 !important;
}