#X1_2 {
	float: right;
	margin-right: 20px;
}

#X3 {
	margin-bottom: 15px;
}

#X3 .table {
	width: 640px;
}

#X3 .table .cell:NTH-CHILD(1) {
	width: 70px;
}

#X3 .table .cell:NTH-CHILD(2) {
	width: 330px;
}

#X3 .table .cell:NTH-CHILD(3) {
	width: 180px;
}

#X4 {
	margin-left: 15px;
}

#execHistGrid .limited-label {
	display: block;
}

#execHistGrid .hide div {
	display: none;
}

#execHistGrid .img-icon.icon-download {
	margin-top: 5px;
}

#execHistGrid tr {
	height: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#execHistGrid td {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#execHistGrid tbody tr {
	height: 29px;
}