.kafs20a2 {

}
.topError {
    background-color: #f8d7da !important;
    margin-bottom: 5px;
    button {
        text-align: left;
        border-radius: 3px !important;
    }
}
.position-absolute{
    right: 40px;
    top: 10px;
}
.accordion .card .card-header:before{
    content: '\F103';
}