.setting-zone, .result-zone {
  margin-left: 20px;
}

.div-line {
  margin-bottom: 10px;
}

.setting-label {
  width: 70px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-50 {
  margin-left: 50px;
}

#A5_1 {
  width: 85px;
}

#A3_2 {
  width: 300px;
}