.contents-area {
  padding-top: 10px;
  padding-bottom: 15px;
}

.label-1 {
  float: left;
}

.label-2 {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.combo-box {
  margin-left: 20px;
  margin-top: -5px;
}

.label-4 {
  margin-left: 10px;
  margin-top: 0px;
}

#combo-box {
  width: 80px;
}

.nts-toggle-dropdown {
  left: 15px !important;
}
.label-3 {
  float: left !important;
  margin-top: 30px;
  display: inline-flex;
}
.button-head {
  height: 40px;
  border-bottom: solid 1px #dedede;
  padding-bottom: 3px;
}
.text {
  margin-left: 8px;
  padding-top: 7px;
}
.table-ccg005-b {
  display: inline-block;
}

.table-left {
  margin-left: 8px;
  position: absolute;
}

.table-right {
  margin-left: 15px;
  position: absolute;
  right: 0;
}

.center-align-for-ccg005-b div {
  text-align: center;
}
