/* cps 017*/
#contents-area .form-group .coll {
	width: 120px;
	margin-left: 20px;
}

#contents-area .form-group .collll {
	margin-left: 20px;
	margin-top: 20px;
}

#coll {
	width: 150px;
}

#start-date-sel {
	margin-right: 10px;
}

#label-date {
	margin-left: 10px;
}
.form-group div.row :nth-child(0) {
	margin-top: 55px;
}
.form-group div.row :nth-child(1) {
	margin-top: 35px;
}
.form-group div.row :nth-child(2) {
	margin-top: 20px;
}