html {	
	overflow: hidden;
}
.input_row1{
	display: inline-block;
}
.component_row2{
	display: inline-block;
}
.component_row3{
	display: inline-block;
}
.component_row4{
	display: inline-block;
}
.component_row5{
	display: inline-block;
}
.component_row6{
	display: inline-block;
}

.row2 {
	margin-top: 15px;
}

.row3 {
	margin-top: 15px;
}

.row4 {
	margin-top: 15px;
}
.row5 {
	margin-top: 15px;
}

.row6 {
	margin-top: 15px;
}

.ntsRadioBox {
    display: inline-block;
    width: 133px;
}

#functions-area-bottom {
    position: absolute;
    bottom: 0px;
    height: 65px;
    width: 100%;
    border-top: solid 1px #B1B1B1;
    text-align: center;
    padding-top: 0px;
    white-space: nowrap;
    background-color: #fff;
    z-index: 10001;
}

.valign-center {
	vertical-align: middle !important;
}