#contents-area
{
	height: 320px;
	width: 470px;
}

.part
{
	padding: 20px 30px;
}
.item
{
	margin: 12px 8px;
}

.group
{
	text-align: center;
}

.button
{
	border: 0.01px solid black;
	border-radius: 4px;
	font-size: 19px;
	height: 40px;
}

#start-date
{
	height: 10px;
	width: 120px;
}

.line
{
	margin-top: 70px;
	border: 1px solid;
}

.submit
{
	width: 110px;
	background: rgb(178, 248, 178);
	font-weight: bold;
}

.cancel 
{
	height: 35px;
}