.item {
	margin: 10px 8px;
}

.group {
	text-align: center;
}

.button {
	border: 0.01px solid black;
	border-radius: 4px;
	font-size: 19px;
	height: 40px;
}

.submit {
	width: 110px;
	background: rgb(178, 248, 178);
	font-weight: bold;
}

.cancel {
	height: 35px;
}