#contents-left, #contents-right {
	padding: 20px;
}

.control-group {
	margin-top: 30px;
}

.labelfirst {
	margin-left: 10px;
	margin-top: 10px;
}

#dataAddress_virtualContainer {
	margin-left: 4px;
}

#btn_chooseZipCode {
	margin-top: -80px !important;
	width: 120px;
	margin-left: -50px !important;
}

#btn_close {
	margin-top: -35px !important;
	margin-left: 50px;
}