.bolder {
  font-weight: bolder;
  font-size: larger;
}
.w-175 {
  width: 175px;
}
#functions-area-bottom {
  height: 40px !important;
}
table tbody td {
  padding-top: 10px;
  word-break: break-all;
  padding-right: 10px;
}
table tbody td a,
table tbody td a > span {
  color: blue !important;
}
table td span {
  width: 250px !important;
  text-decoration: underline !important;
}