
.image-left{
	float: left;
	margin-right: 20px;
}
.image-right{
	float: right;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.button-image {
	padding-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
	display: flex;	
}

.title {
	margin: 10px;
}

.title-left {
	margin-left: 150px;
	vertical-align: 20px;
}

.title-right {
	margin-right: 10px;
	vertical-align: 12px;
	padding-bottom: 20px;
	float: right;	
}

.save-creation {
	background-image: url("../resource/データ保存A1_1.jpg");
	background-size: 100%;
	height: 254px;
	width: 257px;
	background-repeat: no-repeat;
	margin-left: 50px;
}

.auto-save {
	background-image: url("../resource/カテゴリ設定A1_3.jpg");
	background-size: 100%;
	width: 300px;
	height: 100px;
	background-repeat: no-repeat;
}

.history-reference {
	background-image: url("../resource/データ保存の実行履歴A1_3.jpg");
	background-size: 100%;
	width: 300px;
	height: 100px;
	background-repeat: no-repeat;
	margin-right: 50px;
}

.clear {
	clear: both;
}