#master-wrapper {
	min-width: 1270px;
}

/* #functions-area .ntsControl {
	margin-left: 770px;
} */
#cps007_srt_control {
	height: 92% !important;
	margin-bottom: 10px;
}
#contents-area {
	overflow-x: hidden;
}