#master-wrapper {
    overflow: hidden;
}

.content-container {
    margin: 20px;
}

.bg-yellow {
    background-color: #BFEA60;
}

table {
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px;
}

td {
    padding: 5px;
    border: 1px solid black;
}

#I1_1 {
    font-size: 24px;
}

#I1_2 {
    margin-top: 5px;
}

#I3_1 {
    margin-left: 20px;
}

