body {
	overflow-x: hidden;
}

.column1 {
	width: 140px;
}

.ntsControl {
	margin-top: 10px;
	display: block !important;
}

.ntsRadioBox:FIRST-CHILD {
	vertical-align: bottom;
	width: 240px;
}

.radio-wrapper {
	display: block;
}

.ntsRadioBox:LAST-CHILD {
	margin-top: 10px;
}

.label:FIRST-CHILD {
	margin-left: 10px;
	margin-top: 5px;
	font-size: large;
}

.table {
	margin-top: 10px;
}

.column1>div {
	margin-left: 20px;
}

.dateTime-input {
	display: inline-block;
}

.table:NTH-CHILD(2)>.cell:NTH-CHILD(2)>label:NTH-CHILD(2) {
	margin-left: 5px;
	margin-right: 5px;
}

.datepicker-container {
	top: 40px !important;
	left: 260px !important;
}