html {
	overflow: hidden;
}

#contents-area {
	margin-left: 8px;
	width: 99%;
	box-sizing: border-box;
}

.contentPassComplex {
	margin-left: 170px;
	margin-bottom: 10px;
}

.contentPassComplex1 {
	margin-left: 143px;
}

.panel {
	padding: 0px !important;
}

.contentsymbol {
	margin-left: 201px;
	margin-bottom: 10px;
}

#panelPassPolicy {
	height: 380px;
}

.component-area {
	display: block;
	margin: 10px;
}

.form1 {
	float: left;
}

#pabelAccLock {
	height: 180px;
}

.labelInfo {
	margin-left: 30px;
}

.labelInfo1 {
	margin-left: 15px;
}

.textAreaSize {
	height: 60px;
	margin-left: 10px;
}