.modal-header {
    background-color: #5DA797 !important;
    color: white !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    a {
        padding-top: 0.037rem;
        padding-bottom: 0.037rem;
        font-size: 1.09375rem;
    }
}

.cmms45e {
    background-color: white;
}