.border-customer {
    background-color: #6cc0e566;
    border-radius: .5rem;
}
.textSize {
    font-size: 0.9em;
}
.topError {
    background-color: #f8d7da !important;
    margin-bottom: 5px;
    button {
        text-align: left;
        border-radius: 3px !important;
    }
}
.colorHours {
    color: #29339b;
}