#btn_show_list {
	width: 70px;
	height: 30px;
	border-radius: 5px;
}

.btn_select {
	width: 40px;
	height: 30px;
	border-radius: 5px;
}

.em_display {
	width: 120px;
}

#wkp_title_text {
	width: 50px;
}

#wkp_text {
	width: 150px;
}

.caret-inline:after {
	color: black;
}

.show {
	visibility: hidden;
}

table#wkp_view {
	border-left: none !important;
	border-right: none !important;
	margin: 10px;
}

#wkp_view tr {
	height: 42px;
}

.none_border {
	border-left: none;
	border-right: none;
	border-top: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
}

.border-left {
	border-right: none;
	border-left: solid #ccc 1px;
	border-top: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
}

.border-right {
	border-left: none;
	border-right: solid #ccc 1px;
	border-top: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
}

td.wkp-tdpad {
	padding: 3px 5px 3px 5px;
}

.over_text {
	/*overflow: auto;*/
	height: 20px;
}

table#wkp_view #search-input {
	width: 150px;
}